body{
    width: 100%;
}

.global{
    width: 100%;
    margin: auto;
}

/*HEADER*/

header{
    width: 100%;
    display: flex;
    align-items: center;
}

img.logo{
    width: 300px;
    height: 300px;
}

nav{
    width: 50%;
}

nav ul{
    display: flex;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
}

nav a{
    padding: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    vertical-align: middle;
    text-decoration: none;
    color: #000000;
}

nav a:hover{
    background: #ECBFBF;
    border-radius: 30px;
}

/*SECTION-1*/

.accueil{
    width: 100%;
}

div.block{
    width: 70%;
    text-align: center;
}

h3.slogan{
    margin-bottom: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
}

a.button{
    padding: 8px;
    border-radius: 30px;
    border: 4px solid #ECBFBF;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #000000;
}

a.button:hover{
    background: #ECBFBF;
}

span.texte_rose{
    color: #ECBFBF;
}

div.cercle_1{
    background: linear-gradient(40.93deg, #ECBFBF 30.21%, rgba(255, 255, 255, 0) 106.81%);
    border-radius: 50%;
    width: 700px;
    height: 700px;
}

div.cercle_2{
    background: linear-gradient(223.93deg, #ECBFBF 13.4%, rgba(255, 255, 255, 0) 124.76%);
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

/*SECTION-2*/

div.nos_services{
    width: 100%;
}

div.block_2{
    width: 100%;
    text-align: center;
}

h3.titre{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    margin-bottom: 150px;
}

div.icon{
    display: table;
    border-collapse: collapse;
    width: 80%;
    height: 100%;
    table-layout: fixed;
    margin: auto;
}
 
.ligne {
    display: table-row;
}
 
.cell {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    display: table-cell;
    padding: 40px;
    vertical-align: middle;
    font-size: 32px;
    text-align: center;
}

img.size{
    width: 150px;
    height: 150px;
}